@charset "utf-8";

@font-face {
  font-family: love ;
  src: url(Lovera.otf) format(OpenType);
}

/*"
e"*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
  
 
    background-color: rgb(0, 0, 0);
}


nav {

    position: relative;
    margin: 0px;
    
    background-color: rgba(66, 65, 65, 0);
    height: 90px;
    padding: 10px;
   
  }

 .h1 {
    height: 30px;
    width: 110px;
    line-height: 1px;
    padding-left: 12px;
  }
  .h1:hover{
    height: 28px;
    width: 108px;
  }

.s {
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(79, 80, 79, 0);
    color: rgba(255, 255, 255, 0.877);
    border-radius: 20px;
    border: 1px solid rgba(211, 211, 211, 0.61);
    height: 32px;
    width: 77px;
    line-height: 20px;
    padding-right: 6px;
    font-weight: lighter;
  }

  .s:hover{
    height: 30px;
    width: 75px;
  }

  .f{
    margin-left: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(79, 80, 79, 0);
    color: rgba(255, 255, 255, 0.877);
    border-radius: 20px;
    border: 1px solid rgba(211, 211, 211, 0.61);
    height: 32px;
    width: 77px;
    line-height: 20px;
    padding-right: 10px;
    padding-left: 12px;
    font-weight: lighter;
  }
  .f:hover{
    height: 30px;
    width: 75px;
  }

  .c{
    margin-left: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(79, 80, 79, 0);
    color: rgba(255, 255, 255, 0.877);
    border-radius: 20px;
    border: 1px solid rgba(211, 211, 211, 0.61);
    height: 32px;
    width: 105px;
    line-height: 20px;
    padding-left: 5px;
    font-weight: lighter;
  }
  .c:hover{
    height: 30px;
    width: 103px;
  }
  

  #seta{
   font-weight: lighter;
  }
  
  #dois{
    height: 28px;
    width: 28px;
    position: absolute;
    right: 10px;
    top: 13px;
  }
  #dois:hover{
    height: 27px;
    width: 27px;
  }

  #tv {
    font-size: 27px;
    position: absolute;
    color: white;
    right: 109px;
    top: 20px;
    z-index: 9999;
}
#tv:hover{
  font-size: 26px;
}

#lupa {
    font-size: 27px;
    position: absolute;
    color: white;
    right: 64px;
    top: 20px;
    z-index: 9999; /* Valor alto para garantir que esteja acima dos outros elementos */
  }
  #lupa:hover{
    font-size: 26px;
  }

.menu{
    position: relative;
    background-image: linear-gradient(to top,black 10% ,rgb(14, 13, 13) 1%, rgb(26, 25, 25),rgb(43, 42, 42)50%, rgb(110, 110, 110));
    height: 610px;
    
    
   
}

.ar{
    background-color: black;
    background-image: url(fotos/foto\ 4.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom ;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    filter: none;
    padding-bottom: 85px;
    height: 392px;
    width: 352px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo{
  line-height: 35px;
  font-size: 2.2em;
  font-weight: lighter;
  font-family: 'love';
  color: white;
  padding-top: 280px;
  text-shadow: 3px 3px 4px black;
  text-align: center;

}

.sub-titulo{
  
  font-family: 'love';
    color: white;
    text-align: center;
    font-size: 1.7em;
    text-shadow: 3px 3px 3px black;
}

.p{
  left: 31%;
  bottom: 15%;
  font-size: 13px;
  position: absolute;
   color: rgba(250, 246, 246, 0.897);
  display: inline;
  text-shadow: 2px 2px 2px black;
}

.m{
  left: 54%;
  bottom: 15%;
  font-size: 13px;
  position: absolute;
  color: rgba(250, 246, 246, 0.897);
  display: inline;
  text-shadow: 2px 2px 2px black;
}

button{
   
    background-color: white;
    color: black;
    height: 42px;
    width: 120px;
    bottom: 17px;
    left: 15px;
    margin-left: 13px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.555);
    position: absolute;
   
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;  
}

button:hover{
  height: 40px;
  width: 117px;
}

#i{
    font-size: 33px;
    padding-left: 2px;
    color: black;
    left: 8px;
    top: 35%;
    transform: translate(-50%, -50%);
   
    position: absolute;
    display: inline;
    height: 20px;
    width: 10px;
}

#b2{
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    height: 44px;
    width: 130px;
    left: 50%;
    bottom: 17px;

    padding-left: 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.555);
    position: absolute;
    
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
}
#b2:hover{
  height: 42px;
  width: 128px;
}


#ii{
  font-size: 26px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
  left: 10px;
  top: 41%;
  transform: translate(-50%, -50%);
 
  position: absolute;
  display: inline;
  height: 20px;
  width: 10px;
}

main{
  margin: 0px;
  padding: 0px;
    height: 78vh;
    
}

  article{
   
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    height: 250px;
    
    
    
}

 .h {
   color: rgb(255, 255, 255);
   width: 300px;
   
}
  .ft-container{
    white-space: nowrap;
    overflow-x: auto;

  }




img{
 
    border-radius: 25%;
    height: 30px;
    width: 30px;
    padding: 6px;
    object-fit: cover;
}

.ft1{
    display: inline-block;
    background: url(fotos/A1.jpg) no-repeat ;
    background-size: cover;
    height: 180px;
    width: 140px;

    border-radius: 7px;
}

.ft2{
    display: inline-block;
    margin-left: 12px;
    background: url(fotos/A2.JPEG) no-repeat;
    background-size: cover;
    background-position:center center;
    height: 180px;
    width: 140px;

    border-radius: 7px;
}


.ft3 {
    display: inline-block;
    margin-left: 12px;  
    background: url(fotos/A3.jpeg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 140px;
   
    border-radius: 7px;
  }
  
  .ft4 {
    display: inline-block;
    margin-left: 12px;
    background: url(fotos/A4.jpeg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 140px;
   
    border-radius: 7px;
  }

  .ft5 {
    display: inline-block;
    margin-left: 12px;
    background: url(fotos/A5.JPEG) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 140px;
   
    border-radius: 7px;
  }

  .em-alta{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    height: 250px;
    
    
    
  }

  .a1{
    display: inline-block;
    background: url(fotos/foto\ 2.jpeg) no-repeat ;
    background-size: cover;
    background-position: center center;
    height: 180px;
    width: 140px;

    border-radius: 7px;
  }

  .a2{
   
    display: inline-block;
    margin-left: 12px;
    background: url(fotos/foto\ 3.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 180px;
    width: 140px;
   
    border-radius: 7px;
  }
  

  .a3{
  
    display: inline-block;
    margin-left: 12px;
    background: url(fotos/foto\ 4.JPEG) no-repeat;
    background-size: cover;
    background-position: center ;
    height: 180px;
    width: 140px;
   
    border-radius: 7px;
  }
  

  .a4{
   
    display: inline-block;
    margin-left: 12px;
    background: url(fotos/foto\ 5.jpg) no-repeat;
    background-size: cover;
    background-position: left ;
    height: 180px;
    width: 140px;
   
    border-radius: 7px;
  }

  .a5{
    display: inline-block;
    margin-left: 12px;
    background: url(fotos/duda\ 1.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 140px;
   
    border-radius: 7px;
  }

  footer{
   
    background-color: rgb(29, 28, 28);
    height: 38px;
    
  }

  footer > h1 {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 14px;
    color: white;
  }

 
  .area{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    
    height: 200px;

    position: relative;
  }

  .area > h1{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 10;
  }

  .campo {
    background-color: rgba(224, 0, 0, 0.253);
    border-radius: 7px;
    height: 35px;
    width: 180px;
    margin-bottom: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #teste{
    font-size: 16px;
    color: white;
    border-radius: 7px;
    
    border: none;
    height: 100%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.575);
  }

  #teste:focus{
    border: 1px solid white;
  }

  .buton{
    height: 32px;
    width: 176px;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(255, 0, 0, 0.288);
    color: white;
    border: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255, 0.815);
    
  }

  .buton:focus{
    border: 2px solid white;
  }



  