@charset "utf-8";



*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(44, 44, 44);
}

menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.363);
    height: 60px;
    padding: 10px;
    z-index: 9999;
  }

  menu > h1 {
    margin-left: 10px;
    color: white;
    font-size: 1.3em;
  }

.s {
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(79, 80, 79, 0);
    color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
    height: 22px;
    width: 67px;
    line-height: 20px;
    padding-right: 6px;
    font-weight: lighter;
  }

  .f{
    margin-left: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(79, 80, 79, 0);
    color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
    height: 22px;
    width: 67px;
    line-height: 20px;
    padding-right: 6px;
    font-weight: lighter;
  }

  .c{
    margin-left: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(79, 80, 79, 0);
    color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
    height: 22px;
    width: 90px;
    line-height: 20px;
    padding-right: 6px;
    font-weight: lighter;
  }

  #seta{
   font-weight: lighter;
  }
  

  #p {
    font-size: 27px;
    position: fixed;
    color: white;
    right: 97px;
    top: 10px;
    z-index: 9999;
}

#o {
    font-size: 27px;
    position: fixed;
    color: white;
    right: 50px;
    top: 10px;
    z-index: 9999; /* Valor alto para garantir que esteja acima dos outros elementos */
  }

.menu{
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: url("fundos/sitio.png");
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 600px;
    width: 100vw;
}

.overlay{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.ar{
    background-color: black;
    background-image: url("fundos/sitio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center top ;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.288);

    border-radius: 5px;
    filter: none;
    padding-bottom: 45px;
    height: 452px;
    width: 352px;
    margin: auto;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    background-color: white;
    color: black;
    height: 35px;
    width: 80px;
   padding-left: 6px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.555);
    position: absolute;
    bottom: 17px;
    left: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    
}

button:hover{
    height: 28px;
    width: 78px;
}

#i{
    padding-left: 5px;
    color: black;
    left: 2px;
    top: 50%;
    transform: translate(-50%, -58%);
   
    position: absolute;
    display: inline;
    height: 20px;
    width: 10px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

main > article{
    background-color: black;
    height: 250px;
    width: 100vw;
    margin-top: 20px;
    padding: 10px;

    position: absolute;
    overflow-y: auto;
    overflow: hidden;
    
}

main > article > h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.3em;
    padding-left: 12px;
}

div{
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 6px;
}

img{
    border-radius: 25%;
    height: 30px;
    width: 30px;
    padding: 6px;
    object-fit: cover;
}

.ft1{
    background: url(fotos/duda\ 1.jpg) no-repeat ;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 150px;
}

.ft2{
    background: url(fotos/foto\ 2.jpeg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 150px;
}

.ft-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 10px;
  }

.ft3 {
    
    background: url(fotos/foto\ 3.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 150px;
   
  }
  
  .ft4 {
   
    background: url(fotos/foto\ 4.JPEG) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 180px;
    width: 150px;
   
  }



  .menu-rolado {
    height: 40px; /* Ajuste a altura do menu quando estiver rolado */
  }
  
  .menu-rolado .s,
  .menu-rolado .f,
  .menu-rolado .c {
    display: none; /* Oculta os elementos com as classes .s, .f e .c quando o menu estiver rolado */
  }

