@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-color: lightgray;
}

main{
    position: relative;
   height: 100vh;
   width: 100vw;
    
}

.login{
    position: absolute;
    background-color: blue;
    height: 300px;
    width: 400px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}