
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.div1 {
    
    position: relative;
    height: 600px;
    background-image: url(fundos/dnv.jpg);
    width: 100%;
    background-size: cover;
   
}
 .amor{
    text-shadow: 5px 4px 5px  rgba(0, 0, 0, 0.322);
    font-size: 30px;
    position: absolute;
    top: 29%;
    bottom: 50%;
    left: 20px;
    color: #fff;
    
 }
 .text {
   
    position: absolute;
    top: 385px;
    bottom: 50%;
    left: 20px;
    color: #fff;
    font-weight:300;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.63);
    text-align:left;

 }

 .icon {
    position: absolute;
    height: 60px;
    width: 60px;
    right: 30px;
    top: 20px;
 }

 .lupa {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 130px;
    top: 30px;
 }

 .sino {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 200px;
    top: 30px;
 }

 .netflix{
    position: absolute;
    height: 60px;
    width: 110px;
    left: 25px;
    top: 20px;
 } 

 .nav {
    position: absolute;
    left: 170px;
    top: 25px;
    color: white;
    font-weight: bold;
 }

 .assistir {
   color: black;
    position: absolute;
    top: 490px;
    left: 50px;
    height: 30px;
    width: 110px;
    background-color: white;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    
 }

 .assistir a {
   text-decoration: none;
   color: black;
 }
 
 

img {
    max-width: 100%;   
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
     /*quando for fazer com imagem no
      fundo (cover) faça isso antes nas img*/
    
    }

h1{
    display: inline;
    color :white;
    padding:1px ;
    margin: 1px;
}

.pai2 {
   display: flex;
   justify-content: center;  /*crie uma div pai e coloque tudo no fillho*/
   align-items: center;      /* ai coloca isso pra centralziar e para n bagulnçar*/
   height: 100;
}

.n {
   height: 30px;
   width: 30px;  
   margin 
}
.m {
   border-radius: 10px;
}

.lista1 {
   display: flex;
   background-color: darkgray;
   margin-top: 10px;
   height: 210px;
   width: 100%;
   padding-top: 10px;
}

